<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/orig.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='demo/chartist.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='demo/chartist-plugin-tooltip.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='notie/notie.min.css') }}">
<style>
  .notie-container {
      box-shadow: none;
      z-index: 100000;
  }
</style>

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/editable.css') }}">


<script src="{{ url_for('static',filename='js/graindashboard.js') }}"></script>

<script src="{{ url_for('static',filename='js/graindashboard.vendor.js') }}"></script>


<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap-editable.min.js') }}"></script>


<script src="{{ url_for('static',filename='notie/notie.min.js') }}">
</script>


<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/editor-theme.bs.css') }}">



